<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>파일 업로드</title>

</head>

<body>
<div class="upload">
	
 <form action="/upload" method="post" enctype="multipart/form-data">

	
	에디팅하고자 하는 py파일을 올려주세요. 없으시다면 그냥 확인 버튼 클릭!

    <p>

      file :

    <input type="file" name="myfile1">

    

    <input type="submit" value="확인">

 </form>

	</div>
</body>
	
</html>



